html, body {
	height: 100%;
	margin: 0;
	background-color: #fff;
}

body {
	display: flex;
	flex-direction: column;
}


/* Navbar css*/

.nav {
	height: 12vh;
	width: 100%;
	border-bottom: 2px #ececea solid;
	align-items: center;
	z-index: 1;
	background-color: white;
}

.nav_in {
	margin:0 auto;
}

.navtext_thispage {
	width: 60px;
	height: 39px;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 38px;
	border-radius: 50px;
	color: white;
	padding: 5px 10px 5px 10px;
	background-color: #C3D7EB;
}

.navtext {
	width: 60px;
	height: 39px;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 38px;
	color: #333333;
	padding: 5px 20px 5px 20px;
	border-radius: 50px;
}

.navtext:hover {
	background-color:#14608B;
	text-decoration: none;
	color:white;
}

.name {
	font-family: Optima;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	align-items: center;
	color: #333333;
	width: 100%;
	z-index: 1;
	background-color: white;
	margin:60px;
}

.name:hover {
	text-decoration: none;
	color:#333333;
}

.gradient_block {
	width:100%;
	height:400px;
	background: -webkit-linear-gradient(left,#6FA5DB	,#D6CAE5);
	background: -o-linear-gradient(right,#6FA5DB,#D6CAE5);
	background: -moz-linear-gradient(right,#6FA5DB,#D6CAE5);
	background: linear-gradient(to right,#6FA5DB,#D6CAE5);
	display: flex;
	align-items: center;
}

.titleblock {
	margin:0 auto;
	display: flex;
	flex-direction: column;
}


.titletext {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 104px;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	margin: 30 30 30 30;
}

.bigtext {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 41px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	margin:10px;
}

.project {
	width:90%;
	display: flex;
	height: 700px;
}

.project_left {
	width:55%; 
	display: flex;
	padding:30px;
	position: relative;
}

.project_img { 
    max-width: 80%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.link_img:hover {
	opacity: 50%;
}

.project_right {
	width:45%;
	display: flex;
	align-items: center;
}

.project_text {
	width:80%;
	margin:0 auto;
	padding-right: 30px;
}

.project_year {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 38px;
	display: flex;
	align-items: center;
	color: #333333;
	margin-bottom: 30px;
}

.project_title {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 60px;
	display: flex;
	align-items: center;
}

.project_description {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	align-items: center;
	color: #000000;
	margin:30px 0px 30px 0px;
	padding-right: 20px;
}

/* Footer css*/
footer {
	height: 15vh;
	border-top: 2px #ececea solid;
	position: relative;
}

.footer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	position:absolute;
    justify-content: center; 
    align-items: center;
    bottom: 0;
}

.footertext {
	font-family: Montserrat, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	color: gray;
	position:relative;
	height: fit-content;
	width: auto;
}

.footerimg img {
	height: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.fb {
	margin-right: 15px;
}

/* wrapper & content css content的大小我是隨便設的*/
.wrapper {
	margin-bottom: -15vh;
}
.content{
	padding-bottom: 15vh;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* work內容 */


@media (max-width: 670px){
	.titletext {
		font-size: 50px;
	}
}

.p1, .p2, .p3 {
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p1 img, .p2 img, .p3 img {
	width: 80%;
	display: block;
	margin: auto;
}

.p1 img:hover, .p2 img:hover, .p3 img:hover, #link:hover {
	opacity: 0.5;
}

.ptitle {
	font-family: Montserrat, sans-serif;
	font-weight: lighter;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.ptext {
	width: 80%;
	font-family: 'Noto Sans TC', sans-serif;
	color: #4D4D4D;
	font-size: 18px;
	margin-bottom: 50px;
}

.pbtn {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
	border: 1px #14608B solid;
	border-radius: 50px;
	padding: 5px 10px 5px 10px;
	color: #14608B;
}

.pbtn:hover {
	color: white;
	text-decoration: none;
	background-color: #14608B#14608B;
	border-color: #14608B;
}

/* about內容 */
.aboutcontent {
	padding-bottom: 15vh;
	margin-top: 60px;
}

.abouttitle {
	font-family: 'PT Serif', serif;
    color: #5c5c5c;
	font-size: 48px;
	font-weight: bold;
	margin-left: 10%;
	margin-bottom: 120px;

}

.abouttext {
	width: 80%;
	font-family: 'Noto Sans TC', sans-serif;
	line-height: 2;
	font-size: 16px;
}

.xx {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.xx img {
	width: 50%;
	margin-bottom: 50px;
}

#aboutbtn {
	border: 1px #14608B solid;
	padding: 5px 10px 5px 15px;
	color: #14608B;
	letter-spacing: 5px;
	margin-bottom: 50px;
}

#aboutbtn:hover {
	color: white;
	text-decoration: none;
	background-color: #14608B;
	border-color: #14608B;
}

.unablebtn {
	font-family: 'Noto Sans TC', sans-serif;
	border: 1px lightgrey solid;
	border-radius: 50px;
	padding: 5px 10px 5px 15px;
	letter-spacing: 5px;
	margin-bottom: 50px;
	font-size: 16px;
}

/* 作品集內容 */

.probanner {
	display: flex;
	flex-direction: row;
	height: fit-content;
}

.protitlediv {
	width: 50%;
	height: fit-content;
	margin-top: 10%;
}

.probannerimg {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	height: fit-content;
}

.probannerimg img {
	width: 120%;
}

.protilte {
	font-family: 'PT Serif', serif;
    color: #5c5c5c;
	font-size: 48px;
	font-weight: bold;
	margin-left: 20%;
}

.protitleintro {
	font-family: 'PT Serif', serif;
    color: #5c5c5c;
	font-size: 24px;
	margin-left: 20%;
	padding-right: 7%;
}

.container_photo {
	width: 50%;
	margin: 0 auto;
}


.procontent {
	padding:10px 20px 10px 20px;
}


.contentimg, .contentgif, .recordimg, .coverimg {
	text-align: center;
	margin-bottom: 50px;
} 

.contentimg img, .recordimg img{
	width: 70%;
}

.contentgif img {
	width: 30%;
}

.coverimg img {
	width: 30%;
}

.wbtn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-family: 'Noto Sans TC', sans-serif;
	color:#4D4D4D;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-left: 15%;
}
.text {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
	color:#4D4D4D;
	line-height: 1.8;
	margin-bottom: 30px;
	margin-left: 15%;
	margin-right: 15%;
}
.subtitle {
	font-family: 'Noto Sans TC', sans-serif;
	color:#4D4D4D;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-left: 15%;
}
